@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
 --main-color: #001f3f;
 --second-color: white;
}
html {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: var(--main-color);
}

.wrapper {
  max-width: 1920px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.7);
  background-color: var(--second-color);
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}
.portrait {
  width: 80vw;
  object-fit: cover;
  border: var(--main-color) 3px solid;
  border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.backGround {
  position: absolute;
  width: 200%;
  height: 55vh;
  background-color: var(--main-color);
  left: -20vw;
  top: -20vh;
  transform: rotate(30deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

main {
  z-index: 1;
}
.icon {
  width: 32px;
}

hr {
  border: 2px var(--main-color) solid;
  opacity: 0.8;
}

@media screen and (min-width: 600px) {
  .portrait {
    width: 50vw;
  }
  .imageh1Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .backGround {
    transform: rotate(22deg);
  }
}

@media screen and (min-width: 1024px) {
  .imageh1Wrapper {
    width: max(400px, 40vw);
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  .backGround {
    transform: rotate(15deg);
  }
  .portrait {
    max-width: 400px;
  }
}